- @title = "Welcome"

#posts= partial 'posts/post', :collection => @posts

= paginate(:posts, :index, Post.count, {template: :bootstrap_classic, page: @posts.current_page, per_page: @posts.max_per_page}).html_safe
